<div id="messages-wrapper"
     class="clearfix cs-pm__wrapper"
     style="margin-top: 10px;" ng-cloak>
  <div id="messages" class="page-wrapper cs-pm-page-wrapper" ng-show="conversations.length">
    <div class="messages-header cs-pm__header clearfix">
      <div class="pull-right cs-pm-right"><a href="#" class="btn btn-link btn-link-outline">Friends list</a> <a
        class="btn btn-default cs-pm__new-message" ng-hide="currentUser.preferences.read_only_mode"><span
        class="icomoon icomoon-speech-bubble cs-pm-icon--new-message"></span> New message</a></div>
    </div>

    <div class="alert alert-warning" ng-show="currentUser.preferences.read_only_mode">You're currently opted out of
      private messaging, <a href="#"><strong>click
        here</strong></a> to go the the account settings form.
    </div>

    <ul class="media-list conversations-list">
      <li class="media cs-pm-conversation" ng-class="{'conversation--unread': conversation.unread_count != 0}"
          ng-repeat="conversation in conversations">
        <div class="media-left cs-pm__avatar">
          <img class="media-object"
               ng-src="{{conversation.last_message.sender.avatars['200-200']}}"
               alt=""
               style="width:50px;height:50px;">
        </div>
        <div class="cs-pm-body media-body">
          <a href="" class="message-trigger">
            <h4 class="media-heading">{{conversation.last_message.sender.name}}<span ng-show="conversation.unread_count"
                                                                                     class="notifications-count"
                                                                                     ng-bind="conversation.unread_count"></span>
            </h4>
            <span ng-switch="conversation.unread_count">
              <strong ng-switch-default
                      ng-bind-html="conversation.last_message.text | truncate:70 | htmlsafe "></strong>
              <p ng-switch-when="0" ng-bind-html="conversation.last_message.text | truncate:70 | htmlsafe "></p>
            </span>
          </a>

          <div class="date">
            <span class="hidden-xs">Last message </span><abbr class="timeago"
                                                              ng-attr-title="{{formatDate(conversation.updated)}}">{{fromNow(conversation.updated)}}</abbr>
          </div>
          <div class="controls">
            <small><a href="" class="delete-conversation">Delete</a> | <a href="" class="report-conversation">Report</a>
            </small>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center">
      <div class="pagination-wrapper text-center">
        <ul class="pagination" ng-show="pages.length">
          <li ng-hide="paging.current_page === 1"><a title="Go to previous page" class="next" ng-click="previous()">
            &lt;</a></li>
          <li ng-repeat="page in pages"
              ng-class="{'active': paging.current_page === page.number, 'first': page.number === 1}">
            <a ng-click="goToPage(page.number)" ng-attr-title="Go to page {{page.number}}" ng-bind="page.number"></a>
          </li>
          <li ng-hide="paging.current_page === pages.length"><a title="Go to next page" class="prev" ng-click="next()">
            &gt;</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="messages-empty" class="page-wrapper cs-pm-page-wrapper" ng-hide="conversations.length" ng-cloak>
    <div class="messages-header cs-pm__header clearfix">
      <h2 class="pull-left cs-pm-left" style=""><a href="" class="messages-trigger">Messages</a></h2>

      <div class="pull-right cs-pm-right" ng-hide="currentUser.preferences.read_only_mode"><a
        class="btn btn-default cs-pm__new-message"><span
        class="icomoon icomoon-speech-bubble cs-pm-icon--new-message"></span> New message</a></div>
    </div>
    <div class="alert alert-warning" ng-show="currentUser.preferences.read_only_mode">You're currently opted out of
      private messaging, <a href="#"><strong>click
        here</strong></a> to go the the account settings form.
    </div>
    <div class="cs-pm-boxing messaging-boxing text-center">
      <p>You've not been part of any conversations yet!</p>

      <p>Make sure that you've <a href="pm-friends.html">added your friends</a> then <a href=""
                                                                                        class="cs-pm__new-message">start
        a new conversation</a>.</p>
    </div>
  </div>
</div>
