<div id="new-message" class="page-wrapper cs-pm-page-wrapper" style="display: block;">
  <div class="messages-header cs-pm__header clearfix">
    <h2 class="pull-left cs-pm-left"><a ui-sref="inbox({page:1})" class="messages-trigger"><span
      class="icomoon icomoon-back cs-pm-icon--back"></span> Messages</a></h2>

    <div class="pull-right cs-pm-right"><a ui-sref="inbox({page:1})" class="btn btn-default messages-trigger" ng-cloak><span
      class="glyphicon glyphicon-remove cs-pm-icon--remove"></span> {{ cancelString }}</a></div>
  </div>


  <div ng-show="isContactsAvailable" data-ng-form="newMessageForm" novalidate class="cs-pm-new-wrapper new-wrapper" role="form">
    <div class="form-group">
      <p ng-bind-html="new_conversation_header | htmlsafe"></a></p>
    </div>

    <div class="form-group" ng-class="{'has-error': newMessageForm.recipients.$invalid && newMessageForm.recipients.$dirty}">
      <div class="input-group" >
        <div class="input-group-addon" ng-bind="form_to_label"></div>
          <tags-input
          class="form-control custom-tags"
          name="recipients"
          id="recipients"
          allow-leftover-text="false"
          ng-model="users"
          placeholder="{{users.length >= maxTags ? '': form_to_placeholder}}"
          display-property="name"
          key-property="id"
          add-from-autocomplete-only="true"
          max-tags="{{maxTags}}"
          on-tag-adding="$tag.id != 0"
          required>
          <auto-complete
            source="getAvailableUsers($query)"
            display-property="name"
            template="user-template"
          </auto-complete>
        </tags-input>
      </div>
      <span class="help-block"
        ng-show="newMessageForm.recipients.$dirty && newMessageForm.recipients.$error.required"
        ng-bind-html="form_to_validation_empty | htmlsafe">
      </span>
      <span class="help-block"
        ng-show="(newMessageForm.recipients.$dirty && !newMessageForm.recipients.$error.required && newMessageForm.recipients.$invalid && users.length > maxTags) || users.length > maxTags"
        ng-bind-html="form_to_validation_limit_exceeded | htmlsafe">
      </span>
    </div>


    <div class="form-group" ng-class="{'has-error': newMessageForm.message.$invalid && newMessageForm.message.$dirty && (newMessageForm.message.$error.maxlength || newMessageForm.message.$error.required || (newMessageForm.message.$error.emoji && !allow_emoji))}">
      <textarea class="form-control"
        emoji
        id="message"
        name="message"
        ng-maxlength="textMaxLength"
        rows="3"
        placeholder="{{form_text_placeholder}}"
        ng-model="message.text"
        required></textarea>
      <span class="help-block"
        ng-show="newMessageForm.message.$dirty && (newMessageForm.message.$error.required || (newMessageForm.message.$error.emoji && !allow_emoji))"
        ng-bind-html="form_text_validation_empty | htmlsafe"></span>
      <span class="help-block"
        ng-show="newMessageForm.message.$dirty && newMessageForm.message.$error.maxlength"
        ng-bind-html="form_text_validation_maxlength | htmlsafe"></span>
      <span class="help-block"
        ng-show="newMessageForm.message.$dirty && (newMessageForm.message.$error.emojiWarning && !allow_emoji)"
        ng-bind-html="form_text_warning_emoji | htmlsafe"></span>
    </div>
    <div class="clearfix">
      <button type="submit"
              ng-disabled="(newMessageForm.recipients.$invalid || (newMessageForm.message.$invalid && (newMessageForm.message.$error.maxlength || newMessageForm.message.$error.required || (newMessageForm.message.$error.emoji && !allow_emoji)))) || currentUser.preferences.read_only_mode"
              class="btn btn-default pull-right cs-pm-right message-trigger"
              ng-click="save()" ng-bind="form_new_conversation_submit">
      </button>
    </div>
    <script type="text/ng-template" id="user-template">
      <div>
        <div style="float: left">
          <img class="media-object" ng-show="data.avatars['200-200'] !=''"
               ng-src="{{data.avatars['200-200']}}"
               alt=""
               style="width:50px;height:50px;">
        </div>
        <div style="float:left; margin-left: 5px">
          <div><span ng-bind-html="$highlight(data.name)"></span></div>
        </div>
      </div>
    </script>
  </div>
  <div ng-hide="isContactsAvailable" class="cs-pm-boxing messaging-boxing">
    <div class="form-group text-center" ng-cloak>
      <h1 class="text-muted" style="font-size: 60px;">!</h1>
      <p>{{ text_no_friends }}</p>
      <p><a ng-href="{{ friends_link }}" class="btn btn-primary">{{ text_friends_link }}</a></p>
    </div>
  </div>
</div>
